The header "sap-cancel-on-close" is sent in ODataModel (v2) as a boolean instead of a string

Hello,

I was writing sinon tests based on your helper "sap/ui/test/TestUtils" class. I have found out that, when I create an ODataModel (using new ODataModel(...)), the sinon library (I am using v19.0.2), my test fails because of the error:

<img width="640"  alt="ODataModel error" src="https://github.com/user-attachments/assets/757cf9b4-60f3-4828-98d4-0eeb438d1ada" />

After I debugged the error, I found out its source: https://github.com/sinonjs/nise/blob/9f44b11c86e8d87614e44760d8fe8939a9739a51/lib/fake-xhr/index.js#L590, it has the following check:

```js
// Ref https://xhr.spec.whatwg.org/#the-setrequestheader()-method
setRequestHeader: function setRequestHeader(header, value) {
    if (typeof value !== "string") {
        throw new TypeError(
          `By RFC7230, section 3.2.4, header values should be strings. Got ${typeof value}`,
        );
   }
```

The breakpoint shows that the current header is "sap-cancel-on-close", it has the boolean value **true** instead of the string "true". A brief search in your source code showed that this header might get the boolean value in "ODataMetadata.prototype._createRequest": https://github.com/SAP/openui5/blob/676c87a236145042dd49deb41e76c7a81a7f1102/src/sap.ui.core/src/sap/ui/model/odata/ODataMetadata.js#L1345

```js
	ODataMetadata.prototype._createRequest = function(sUrl) {
		// The 'sap-cancel-on-close' header marks the OData metadata request as cancelable. This helps to save resources at the back-end.
		var oDefaultHeaders = {
				"sap-cancel-on-close": true
			},
```

Unfortunately, there is no easy fix for me. Your ODataModel v4 doesn't have this error - all values are strings. Can you please fix this error in 1.120 and other versions at least? Probably, this might be hard to do, because you have many tests where this header is applied as a boolean value. But I haven't tried searching and replacing all of them.

p.s. I don't see any explicit meaning that header value must be a string, but from the link from the source code of sinon.js, I found out that the header value must be a sequence of bytes. Boolean is just a bit value, not even a sequence :)

<img width="738" alt="Image" src="https://github.com/user-attachments/assets/2395e3b1-f249-4305-92cd-73f4eaeb2b46" />

Thanks

Short update, as a temporary workaround, I am using the following snippet. I don't know if it is 100% valid, but I hope I can survive, until you deliver the fix:

```js
this.requestDatajsStub = sinon.stub(sap.ui.require("sap/ui/thirdparty/datajs"), "request");
this.requestDatajsStub.callsFake((oRequest, handleSuccess, handleError, metadataHandler) => {
    if (oRequest.headers["sap-cancel-on-close"]) {
        oRequest.headers["sap-cancel-on-close"] = String(oRequest.headers["sap-cancel-on-close"]);
    }
    return this.requestDatajsStub.wrappedMethod(oRequest, handleSuccess, handleError, metadataHandler);
});
```

Hello @Vest,

Thank you for sharing this finding. I've created an internal incident DINC0407985. The status of the issue will be updated here in GitHub.

Regards,
Dobrin


Pretty quick. Thanks, I hope, I will see your fix in 1.120, and I can remove my workaround. 

By the way, you encouraged me to raise another bug ticket for you. 

Thank you again, I haven’t expected a fix. 

Hello,
fix is done in our current code line. Downport to 1.120 is in progress.
Best Regards,
Sven

Hi, 
the fix is now also submitted in the 1.120 code line.
Best Regards, Sven